::ng-deep .form-view{
    padding: unset !important;
    margin-top: unset !important;
}
.parent1 {
    .generic-form {
        height: 20rem;
        width: 99.5%;
    }
    
    .generic-list {
        height: 25rem;
        width: 99.5%;
    }
}
