::ng-deep .form-view{
    padding: unset !important;
    margin-top: unset !important;
}
.parent1 {
    height: 100%;
    .generic-form {
        height: 40%;
        width: 99.5%;
    }
    
    .generic-list {
        height: 60%;
        width: 99.5%;
    }
}
