::ng-deep .form-view{
    padding: unset !important;
    margin-top: unset !important;
}

.generic-form {
    height: 22rem;
    width: 99.5%;
}

.generic-list {
    height: 24rem;
    width: 99.5%;
}