<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar title="View data">
            <div header-end-content>
                <pep-button class="pep-spacing-element" [value]="'Back_to_list' | translate" (buttonClick)="goBackToList()"></pep-button> 
            </div>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
    <div class="parent1">
        <pep-generic-form class="generic-form"
            [showTopBar]="false"
            [dataSource]="dataSource"
            [dataView]="dataView"
            [inline]="true"
            (valueChange)="valueChange($event)"
            *ngIf="isLoaded">
        </pep-generic-form>
        <pep-generic-list class="generic-list"
            [title]="'Result' | translate"
            [showTopBar]="true"
            [dataSource]="listData"
            [inline]="true"
            [addPadding]="false"
            [showSearch]="false"
            [selectionType] = "'none'"
            [noDataFoundMsg]="' '"
            *ngIf="isLoaded">
            <ng-container right-buttons>
                <pep-button
                    class="pep-spacing-element"
                    [sizeType]="'sm'"
                    [value]="'Run' | translate"
                    [styleType]="'strong'"
                    [disabled]="formInvalid()"
                    (buttonClick)="onRunClicked()">
                </pep-button>
            </ng-container>
        </pep-generic-list>
    </div>
    </ng-container>
</pep-page-layout>

